.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    font-family: "Playfair", sans-serif;
  }
  
  .Button:hover {
    opacity: 0.7;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #4682B4 !important;
  }
  
  .Button:active {
    background-color: #4682B4 !important;
  }
  
  .Button:focus {
    background-color: #4682B4;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #4682B4;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #4682B4;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #4682B4;
    color: #ffffff;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: #76ABDF;
    color: #ffffff;
  }
  
  .Bright {
    background-color: #76ABDF;
    color: #fff;
  }