.Form {
    border: none;
    border-bottom: 2px #76ABDF solid;
  }
  
  .Button {
    border: none;
    background-color: #76ABDF;
    color: #fff;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
    font-family: "Kanit" sans-serif;
    font-weight: bold;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: #ff4136;
    color: #fff;
  }