.Event {
    background-color: #fffce2;
    border: 2px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Event figure,
h5 {
    margin: 0 0;
}

.EventDetail {
    margin: 5px 0;
    background-color: #f4faff;
}

.Tags {
    font-weight: bold;
    color: #ff4136;
}

i {
    color: #4682B4;
}

i:hover {
   color: #ff4136;
}